.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 1rem 0;
  background-color: #ffffff;
  color: var(--text-color);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navLink {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  padding: 0.5rem 1rem;
}

.navLink:hover {
  color: var(--primary-color);
}

.navLinkActive {
  font-weight: 600;
}

.navLinkActive::after {
  opacity: 1;
  background-color: var(--primary-color);
}
